@font-face {
  font-family: "ClashDisplay Medium";
  src: url("../font/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "Arlita";
  src: url("../font/Arlita.otf");
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("../font/ClashGrotesk-Regular.otf");
}
:root {
  --medium: "ClashDisplay Medium";
  --yellow-text: #ddca67;
  --white-text: #ffffff;
  --black: #000;
  --font-arlita: "Arlita";
  --font-Grotesk-Regular: "Clash Grotesk";
}

html,
body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/*=============* Header Section *================ */
.header-sec {
  background: var(--black);
}

.navbar,
.navbar-collapsed,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
  font-family: var(--medium);
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  margin: 0 auto;
}

.nav-items {
  margin-right: 60px;
}
.nav-items:last-child {
  margin-right: 0;
}

.nav-items:first-child .nav-links {
  color: var(--yellow-text);
  position: relative;
  padding: 4px 8px;
}
.nav-items:first-child .nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}
.nav-items:first-child .nav-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.nav-links {
  color: var(--white-text);
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  padding: 4px 8px;
}
.nav-links:hover {
  color: var(--yellow-text);
}
.nav-links:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}
.nav-links:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}
.user-btn {
  margin-left: 36px;
  position: relative;
  padding: 4px 8px;
}
.user-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}
.user-btn:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}
.search-btn {
  position: relative;
  padding: 4px 8px;
}
.search-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}
.search-btn:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.menu {
  display: none;
}
/*=============* Banner Section *================ */

.banner-sec {
  width: 100%;
  height: 900px;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url(../asset/banner-bg.png);
  background-color: var(--black);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.title-1 {
  max-width: 856px;
  color: var(--white-text);
  font-family: var(--font-arlita);
  text-transform: capitalize;
  font-size: 80px;
  line-height: calc(83 / 80);
  margin-bottom: 34px;
}
.p1 {
  max-width: 661px;
  color: var(--white-text);
  font-family: var(--font-Grotesk-Regular);
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 51px;
}

.banner-btn {
  border: 2px solid var(--white-text);
  border-radius: 50px;
  padding: 21px 31px;
  background: rgba(8, 8, 6, 0.7);
  display: inline-flex;
  align-items: center;
  font-family: var(--font-arlita);
  font-size: 24px;
  color: var(--yellow-text);
  text-transform: capitalize;
}
.banner-btn svg {
  margin-left: 21px;
}

.banner-btn:hover {
  border: 2px solid var(--yellow-text);
  background: rgba(8, 8, 6, 1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

/* ======================MEDIA SCREEN================= */
@media screen and (max-width: 1200px) {
  .nav-items {
    display: none;
  }

  .menu {
    display: inline-block;
    color: var(--white-text);
    margin-left: 44px;
  }
}
