@font-face {
  font-family: "ClashDisplay Medium";
  src: url("../font/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "Arlita";
  src: url("../font/Arlita.otf");
}

@font-face {
  font-family: "Clash Grotesk";
  src: url("../font/ClashGrotesk-Regular.otf");
}
:root {
  --medium: "ClashDisplay Medium";
  --yellow-text: #ddca67;
  --white-text: #ffffff;
  --black: #000;
  --font-arlita: "Arlita";
  --font-Grotesk-Regular: "Clash Grotesk";
  --golden-gradient: linear-gradient(-12deg, #f1e28c, #090601, #f1e28c);
}

html,
body {
  overflow-x: hidden;
  background: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.col-3 {
  width: calc(8.33 * 4);
  padding: 0 15px;
}

.col50 {
  width: 50%;
  padding: 0 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.sub-title {
  display: flex;
  align-items: center;
}
.sub-title::after,
.sub-title::before {
  content: "";
  display: inline-block;
  height: 31px;
  flex-grow: 2;
  background: url("../asset/right-lines.png") no-repeat center/contain;
}
.sub-title::before {
  background: url("../asset/left-lines.png") no-repeat center/contain;
}

.primary-title,
.secondary-title {
  display: inline-block;
  padding: 1px;
  background: var(--golden-gradient);
  position: relative;
}
.primary-title {
  margin: 0 6px 0;
  border-radius: 16px;
}

.primary-title > span {
  padding: 14px 58px;
  background: var(--black);
  color: var(--white-text);
  display: inline-block;
  font-family: var(--font-Grotesk-Regular);
  font-size: 25px;
  border-radius: 16px;
  text-transform: capitalize;
  position: relative;
}
.secondary-title {
  border-radius: 10px;
}
.secondary-title > span {
  padding: 7px 42px;
  background: var(--black);
  color: var(--white-text);
  display: inline-block;
  font-family: var(--font-Grotesk-Regular);
  font-size: 18px;
  border-radius: 10px;
  text-transform: capitalize;
}

.title-2 {
  color: var(--white-text);
  font-family: var(--font-arlita);
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 100;
  margin: 43px auto 18px;
  text-align: center;
}
.title-2 > span,
.title-3 > span {
  color: var(--yellow-text);
}

.title-3 {
  color: var(--white-text);
  font-family: var(--font-arlita);
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 100;
  margin-top: 44px;
}

.title-4 {
  color: var(--white-text);
  font-family: var(--font-arlita);
  text-transform: capitalize;
  font-size: 29px;
  font-weight: 100;
  text-align: center;
}

.col50 > .paragraph {
  text-align: left;
  margin: 0;
  max-width: 540px;
}
.paragraph:not(.banner-content > .paragraph) {
  color: var(--white-text);
  font-family: var(--font-Grotesk-Regular);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 50;
  text-align: center;
  margin: 0 auto 91px;
}

/*=============* Header Section *================ */
.header-sec {
  background: var(--black);
}

.navbar,
.navbar-collapsed,
.navbar-collapsed > ul,
.nav-btn {
  display: flex;
  align-items: center;
  font-family: var(--medium);
}

.navbar-collapsed {
  flex-grow: 1;
}

.navbar-collapsed > ul {
  margin: 0 auto;
}

.nav-items {
  margin-right: 60px;
}

.nav-items:last-child {
  margin-right: 0;
}

.nav-items:first-child .nav-links {
  color: var(--yellow-text);
  position: relative;
  padding: 4px 8px;
}
.nav-items:first-child .nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}

.nav-items:first-child .nav-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.nav-links {
  color: var(--white-text);
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
  padding: 4px 8px;
  transition: 0.5s linear;
}

.nav-links:hover {
  color: var(--yellow-text);
}

.nav-links:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}

.nav-links:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.user-btn {
  margin-left: 36px;
  position: relative;
  padding: 4px 8px;
}

.user-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}

.user-btn:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.search-btn {
  position: relative;
  padding: 4px 8px;
}

.search-btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 10px;
  border-top: 1px solid var(--yellow-text);
  border-left: 1px solid var(--yellow-text);
}

.search-btn:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 10px;
  border-bottom: 1px solid var(--yellow-text);
  border-right: 1px solid var(--yellow-text);
}

.menu {
  display: none;
}
/*=============* Banner Section *================ */

.banner-sec {
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url(../asset/banner-bg.png);
  background-attachment: fixed;
  background-color: var(--black);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  /* MASK */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}

.title-1 {
  max-width: 856px;
  color: var(--white-text);
  font-family: var(--font-arlita);
  text-transform: capitalize;
  font-size: 80px;
  font-weight: 100;
  line-height: calc(83 / 80);
  margin-bottom: 34px;
}
.banner-content > .paragraph {
  max-width: 661px;
  letter-spacing: 2px;
  margin-bottom: 51px;
  color: var(--white-text);
  font-family: var(--font-Grotesk-Regular);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 50;
}

.banner-btn {
  border: 2px solid var(--white-text);
  border-radius: 50px;
  padding: 21px 31px;
  background: rgba(8, 8, 6, 0.7);
  display: inline-flex;
  align-items: center;
  font-family: var(--font-arlita);
  font-size: 24px;
  color: var(--yellow-text);
  text-transform: capitalize;
  position: absolute;
}
.banner-btn svg {
  margin-left: 21px;
}

.banner-btn:hover {
  border: 2px solid var(--yellow-text);
  background: rgba(8, 8, 6, 1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}

/*=============* Dreamer Section *================ */
.dreamer-sec {
  padding: 100px 0 0;
  text-align: center;
}

.dreamer-hdr > .title-2 {
  max-width: 901px;
  margin: 62px auto 82px;
}
.dreamer-video {
  background: rgba(0, 0, 0, 80%);
  padding: 23px 26px 23px 25px;
  border-radius: 30px;
}
.dreamer-video > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.dreamer-vdo-brdr {
  max-width: 1204px;
  padding: 1px;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--yellow-text),
    transparent
  );
  border-radius: 30px;
  margin: 0 auto;
  transition: 0.5s linear all;
  cursor: pointer;
  position: relative;
}
.dreamer-vdo-brdr:hover {
  filter: drop-shadow(0 0 5px var(--yellow-text));
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white-text);
  backdrop-filter: blur(5px);
  transition: 0.5s linear all;
}

.play-icon > img {
  transform: translateX(3px);
  object-fit: contain;
}

/*=============* Card Section *================ */

.hdr-sec {
  width: 100%;
  padding: 100px 0 0;
}
.card-hdr > .title-2 {
  max-width: 879px;
}
.card-hdr > .paragraph {
  max-width: 479px;
}

/* =============card-wrapper============= */
.card-wrapper {
  max-width: 1459px;
  margin: 0 auto;
}

.services-card {
  position: relative;
  margin-bottom: 135px;
}
.services-card > img {
  border-radius: 26px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  padding: 35px 97px 77px 96px;
  background: rgba(8, 8, 6);
  color: var(--white-text);
  border-radius: 33px;
  bottom: -55px;
  border: 1px solid rgba(219, 199, 97, 30%);
  left: 0;
  right: 0;
}
.card-content > p {
  color: var(--white-text);
  font-family: var(--font-Grotesk-Regular);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 50;
  margin-top: 10px;
}

/*=============* Services Section *================ */

.services-row {
  padding: 74px 80px;
  border: 2px solid #27220D;
  border-radius: 70px;
  position: relative;
  margin-bottom: 40px;
}
.services-row:last-child{
  margin-bottom: 0;
}
.services-row::before{
  content: "";
  position: absolute;
  top: 0;
  left: 95px;
  width: 155px;
  border-top: 6px solid var(--yellow-text);
   box-shadow: 0 0 12px 4px rgba(131, 128, 27, 0.9);
}
.column{
  margin: auto 0;
}
.text {
  text-align: left;
  max-width: 540px;
  color: var(--white-text);
  font-family: var(--font-Grotesk-Regular);
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 50;
  margin-bottom: 54px;
}

.secondary-btn {
  border-radius: 33px;
  display: inline-block;
  padding: 1px;
  background: var(--golden-gradient);
  position: relative;
}
.secondary-btn > span {
  padding: 16px 26px;
  background: var(--black);
  color: var(--white-text);
  display: inline-flex;
  align-items: center;
  font-family: var(--font-arlita);
  font-size: 22px;
  border-radius: 33px;
  text-transform: capitalize;
  
}

.secondary-btn svg {
  margin-left: 11px;
}

.services-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ======================MEDIA SCREEN================= */

@media screen and (max-width: 1200px) {
  .nav-items {
    display: none;
  }

  .menu {
    display: inline-block;
    color: var(--white-text);
    margin-left: 44px;
  }
}
@media screen and (max-width: 860px) {
  .title-1 {
    font-size: 50px;
    font-weight: 100;
  }
  .paragraph {
    max-width: 661px;
    font-weight: 60;
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  .title-2 {
    max-width: 901px;
    font-size: 40px;
    font-weight: 80;
  }
  .dreamer-video {
    padding: 17px 20px 17px 20px;
  }
}

@media screen and (max-width: 560px) {
  .title-1 {
    font-size: 32px;
    font-weight: 60;
  }
  .paragraph {
    max-width: 661px;
    font-weight: 40;
    font-size: 16px;
  }
  .banner-btn {
    border: 1px solid var(--white-text);
    border-radius: 50px;
    padding: 19px 29px;
    font-weight: 40;
    font-size: 18px;
  }
  .dreamer-video {
    padding: 11px 14px 11px 14px;
  }
  .play-icon {
    width: 50px;
    height: 50px;
  }
  .play-icon > img {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }
}

@media screen and (max-width: 385px) {
  .search-btn,
  .user-btn {
    display: none;
  }
  .title-2 {
    max-width: 901px;
    font-size: 28px;
    font-weight: 40;
  }
  .primary-title > span {
    font-size: 18px;
  }
  .dreamer-video {
    padding: 7px 9px 7px 9px;
  }
  .play-icon {
    width: 35px;
    height: 35px;
  }
  .play-icon > img {
    width: 11px;
    height: 11px;
    object-fit: contain;
  }
}
